body {
    background: rgb(250, 248, 251) url(../images/flower-field-elephant.jpg) center/cover no-repeat fixed;
}
main, header, footer {
    padding: 10px 15px 20px;
}
main {
    background-color: rgba(255,255,255,.8);
}
header, footer {
    background-image: linear-gradient(to right, rgb(238, 232, 170), transparent);
}
header p {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 600;
}
header nav a {
    margin-right: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 128, 0);
}
header nav a:hover {
    font-weight: 600;
    text-decoration: underline;
}
form#search {
    float: right;
    width: 40%;
}
.clearfix {
    clear: both;
}
form#search input {
    width: 100%;
}
#searchResults {
    width: 45%;
    height: auto;
    background-color: rgb(0, 128, 0);
    z-index: 99;
    position: absolute;
    right: 8px;
    margin-top: -10px;
    padding: 10px 15px;
}
#searchResults.hide {
    display: none;
}
#searchResults.show {
    display: inline;
}
#searchResults .result {
    width: 100%;
    margin-bottom: 25px;
}
.result .cityImg {
    max-width: 100%;
    height: auto;
}
.cityName {
    color: #fff;
    font-size: 20px;
    margin: 0 0 5px;
}
.cityDesc {
    color: rgb(238, 232, 170);
    margin: 5px 0;
}