body {
    background: green url(../images/flower-field-elephant.jpg) center/cover no-repeat fixed;
}
main, header, footer {
    padding: 10px 15px 20px;
}
main {
    background-color: rgba(255,255,255,.8);
}
header, footer {
    background-image: linear-gradient(to right, palegoldenrod, transparent);
}
header p {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 600;
}
header nav a {
    margin-right: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: green;
}
header nav a:hover {
    font-weight: 600;
    text-decoration: underline;
}
form#search {
    float: right;
    width: 40%;
}
.clearfix {
    clear: both;
}
form#search input {
    width: 100%;
}
#searchResults {
    width: 45%;
    height: auto;
    background-color: red;
    z-index: 99;
    position: absolute;
    right: 9px;
}
#searchResults.hide {
    display: none;
}
#searchResults.show {
    display: inline;
}